---
name: rules_pact
on:
  push:
    branches:
      - main
jobs:
  test_job:
    runs-on: ubuntu-20.04
    container:
      image: gcr.io/bazel-public/bazel:6.3.2
      volumes:
        - /usr/bin/docker:/usr/bin/docker
        - /var/run/docker.sock:/var/run/docker.sock
      options: -e USER="root" -u="root"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fetch bazel cache
        uses: actions/cache@v3
        with:
          path: /tmp/cache
          key: bazel-cache
          restore-keys: |
            bazel-cache
      - name: Bazel test
        run: bazel --output_user_root=/tmp/cache test --test_output=errors //...
  release_job:
    runs-on: ubuntu-20.04
    needs: test_job
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/exec@6.0.3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Do something when a new release published
        if: steps.semantic.outputs.new_release_published == 'true'
        env:
          NEXT_RELEASE_VERSION: ${{ steps.semantic.outputs.new_release_version }}
        run: |
            echo $NEXT_RELEASE_VERSION
      - name: FETCH THE SOURCE ARCHIVE
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          curl \
            -L \
            -o $env:GITHUB_WORKFLOW-v$NEXT_RELEASE_VERSION.tar.gz \
            https://github.com/opicaud/$env:GITHUB_WORKFLOW/archive/refs/tags/v$NEXT_RELEASE_VERSION.tar.gz
      - name: CREATE RELEASE
        if: steps.semantic.outputs.new_release_published == 'true'
        id: create-release
        uses: ncipollo/release-action@v1.13.0
        with:
          name: $env:GITHUB_WORKFLOW v$NEXT_RELEASE_VERSION
          tag: v$NEXT_RELEASE_VERSION
          allowUpdates: true
          draft: true
          artifactErrorsFailBuild: true
          updateOnlyUnreleased: true
          generateReleaseNotes: false
          artifacts: >-
            $env:GITHUB_WORKFLOW-v$NEXT_RELEASE_VERSION.tar.gz